/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-image:url('background.png');
    -fx-background-size:cover;

}
.button {
     -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-border-radius: 20;
    -fx-border-color: #2196f3;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;
    -fx-border-width: 3;
    
}
.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #2a2757;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill:#ffffff;
    -fx-border-color: #2a2757;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}
* Style pour la ListView *
/* Style pour la ListView */
#listView {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10;
}

/* Style pour les cellules */
.list-cell {
    -fx-background-color: #f9f9f9;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: #e0e0e0;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 1);
    -fx-alignment: center-left;
    -fx-background-insets: 0;
}

/* Style pour les cellules au survol de la souris */
.list-cell:hover {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
}