/*
 * Empty Stylesheet file.
 */

.root {
    -fx-backgound-image:url('backgound.png');
    -fx-background-size:cover;

}
.button {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;
}
.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #2196f3;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-border-color: #2196f3;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

